:root {
  --lighttext-colorbody-1: rgba(81, 81, 81, 1);
  --lighttext-colorbody-2: rgba(154, 154, 176, 1);
  --lightbase-colorwhite: rgba(255, 255, 255, 1);
  --lightseparators-colorssecondary: rgba(225, 225, 225, 1);
  --lighttext-colortitle: rgba(17, 20, 45, 1);
  --blue-main: rgba(0, 112, 240, 1);
  --gray-ultradark: rgba(81, 84, 88, 1);
  --lighttext-link-colorwhite: rgba(255, 255, 255, 1);
  --lightsecondary-color50: rgba(199, 146, 62, 1);
  --body-body-1-semibold-font-family: "Mulish-SemiBold", Helvetica;
  --body-body-1-semibold-font-weight: 600;
  --body-body-1-semibold-font-size: 16px;
  --body-body-1-semibold-letter-spacing: 0.08px;
  --body-body-1-semibold-line-height: 120.00000476837158%;
  --body-body-1-semibold-font-style: normal;
  --headlines-headline-bold-normal-font-family: "Mulish-Bold", Helvetica;
  --headlines-headline-bold-normal-font-weight: 700;
  --headlines-headline-bold-normal-font-size: 16px;
  --headlines-headline-bold-normal-letter-spacing: 0.08px;
  --headlines-headline-bold-normal-line-height: 120.00000476837158%;
  --headlines-headline-bold-normal-font-style: normal;
  --captions-captions-regular-font-family: "Mulish-Regular", Helvetica;
  --captions-captions-regular-font-weight: 400;
  --captions-captions-regular-font-size: 12px;
  --captions-captions-regular-letter-spacing: 0.09600000143051148px;
  --captions-captions-regular-line-height: 120.00000476837158%;
  --captions-captions-regular-font-style: normal;
  --body-body-1-regular-font-family: "Mulish-Regular", Helvetica;
  --body-body-1-regular-font-weight: 400;
  --body-body-1-regular-font-size: 16px;
  --body-body-1-regular-letter-spacing: 0.08px;
  --body-body-1-regular-line-height: 125%;
  --body-body-1-regular-font-style: normal;
  --menu-menu-1-regular-font-family: "Mulish-Regular", Helvetica;
  --menu-menu-1-regular-font-weight: 400;
  --menu-menu-1-regular-font-size: 16px;
  --menu-menu-1-regular-letter-spacing: 0.08px;
  --menu-menu-1-regular-line-height: 120.00000476837158%;
  --menu-menu-1-regular-font-style: normal;
  --heading-h3-bold-font-family: "Lora-Bold", Helvetica;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 39px;
  --heading-h3-bold-letter-spacing: 0.195px;
  --heading-h3-bold-line-height: 120.00000476837158%;
  --heading-h3-bold-font-style: normal;
  --heading-h5-bold-font-family: "Lora-Bold", Helvetica;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 24px;
  --heading-h5-bold-letter-spacing: 0.12px;
  --heading-h5-bold-line-height: 120.00000476837158%;
  --heading-h5-bold-font-style: normal;
}
