<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/globals_gallery.css" />
    <link rel="stylesheet" href="../static/styleguide_gallery.css" />
    <link rel="stylesheet" href="../static/style_gallery.css" />
  </head>
  <body>
    <div class="gallery">
      <div class="div">
        <div class="navbar">
          <button class="button" id="Signin"><div class="click-here">Sign In</button>
          <div class="action-search">
            <div class="round-action-search">
              <img class="path" src="../static/img/path-1.png" /> <img class="icon-color" src="../static/img/icon-color-1.svg" />
            </div>
          </div>
          <div class="menu">
            <div class="navbar-2">
              <div class="text-wrapper"><a href="./index_gallery.html" class="links">Gallery</a></div>
              <div class="text-wrapper-2"><a href="./index_about.html" class="links">Blog</a></div>
              <div class="text-wrapper-3"><a href="./index_contact.html" class="links">Contact us</a></div>
              <div class="text-wrapper-4"><a href="./index_package.html" class="links">Tour package</a></div>
              <div class="text-wrapper-5"><a href="./index_about.html" class="links">About</a></div>
              <div class="text-wrapper-6"><a href="./index_home.html" class="links">Home</a></div>
            </div>
            <img class="line" src="../static/img/line-1.svg" />
          </div>
        </div>
        <div class="overlap">
          <div class="hero">
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="text-wrapper-7">Gallery</div>
              <div class="text-wrapper-8">Gallery</div>
              <div class="text-wrapper-9">Home</div>
            </div>
          </div>
          <img class="caret-right-filled" src="../static/img/caretrightfilled.svg" />
        </div>
        <div class="div-2">
          <div class="photos">
            <img class="image-placeholder" src="../static/img/image-placeholder-23.png" />
            <img class="img" src="../static/img/image-placeholder-22.png" />
            <img class="image-placeholder-2" src="../static/img/image-placeholder-21.png" />
            <img class="image-placeholder-3" src="../static/img/image-placeholder-20.png" />
            <img class="image-placeholder-4" src="../static/img/image-placeholder-19.png" />
            <img class="image-placeholder-5" src="../static/img/image-placeholder-18.png" />
            <img class="image-placeholder-6" src="../static/img/image-placeholder-17.png" />
            <img class="image-placeholder-7" src="../static/img/image-placeholder-16.png" />
          </div>
          <div class="photos-2">
            <img class="image-placeholder-8" src="../static/img/image-placeholder-15.png" />
            <img class="image-placeholder-9" src="../static/img/image-placeholder-14.png" />
            <img class="image-placeholder-10" src="../static/img/image-placeholder-13.png" />
            <img class="image-placeholder-11" src="../static/img/image-placeholder-12.png" />
            <img class="image-placeholder-12" src="../static/img/image-placeholder-11.png" />
            <img class="image-placeholder-13" src="../static/img/image-placeholder-10.png" />
            <img class="image-placeholder-14" src="../static/img/image-placeholder-9.png" />
            <img class="image-placeholder-15" src="../static/img/image-placeholder-8.png" />
          </div>
          <div class="photos-3">
            <img class="image-placeholder" src="../static/img/image-placeholder-7.png" />
            <img class="img" src="../static/img/image-placeholder-6.png" />
            <img class="image-placeholder-2" src="../static/img/image-placeholder-5.png" />
            <img class="image-placeholder-3" src="../static/img/image-placeholder-4.png" />
            <img class="image-placeholder-4" src="../static/img/image-placeholder-3.png" />
            <img class="image-placeholder-5" src="../static/img/image-placeholder-2.png" />
            <img class="image-placeholder-6" src="../static/img/image-placeholder-1.png" />
            <img class="image-placeholder-16" src="../static/img/image-placeholder.png" />
          </div>
          <button class="click-here-wrapper"><div class="click-here-2">Open Instagram</div></button>
        </div>
        </div>
        <div class="overlap-2">
          <div class="footer">
            <div class="overlap-3">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="menu-list">
                    <div class="text-wrapper-12"><a href="./index_contact.html" class="links">Contact Us</a></div>
                    <div class="text-wrapper-13"><a href="./index_about.html" class="links">Blog</a></div>
                    <div class="text-wrapper-14"><a href="./index_contact.html" class="links">Our Team</a></div>
                  </div>
                  <div class="menu-list-2">
                    <div class="text-wrapper-15"><a href="./index_package.html" class="links">Events</a></div>
                    <div class="text-wrapper-16"><a href="./index_gallery.html" class="links">Gallery</a></div>
                    <div class="text-wrapper-17"><a href="./index_package.html" class="links">Packages</a></div>
                    <div class="text-wrapper-18"><a href="./index_about.html" class="links">About Us</a></div>
                  </div>
                  <div class="menu-list-3">
                    <div class="text-wrapper-19"><a href="./index_itinerary.html" class="links">Destinations</a></div>
                    <div class="text-wrapper-20"><a href="./index_home.html" class="links">SignIn</a></div>
                    <div class="text-wrapper-21"><a href="./index_home.html" class="links">Home</a></div>
                    <div class="text-wrapper-22"><a href="./index_about.html" class="links">Testimonials</a></div>
                  </div>
                  <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
              <div class="contact-us">
                <div class="overlap-4">
                  <div class="background"></div>
                  <div class="text-wrapper-23">Copyright Assam Tourism 2023</div>
                  <p class="if-you-have-any">
                    <span class="span"
                      >If you have any questions or would like to book a tour with us, please don&#39;t hesitate to
                      contact us.<br /><br />Phone: +250 788 123 456<br />Email:
                    </span>
                    <a href="mailto:info@rwandatourism.com" target="_blank" rel="noopener noreferrer"
                      ><span class="text-wrapper-24">info@rwandatourism.com</span></a
                    >
                    <span class="span"> <br />Address: Guwahati, Assam<br /></span>
                  </p>
                  <div class="text-wrapper-25">Subscribe to our newspaper</div>
                  <p class="text-wrapper-26">If you have any question, Let us help you!</p>
                  <div class="div-wrapper">
                    <div class="group-wrapper"><div class="group"></div></div>
                  </div>
                  <div class="textbox">
                    <div class="overlap-5"><div class="text-wrapper-27">Input your email here</div></div>
                  </div>
                </div>
              </div>
              <div class="group-social-icons-2">
                <img class="social-button-4" src="../static/img/social-button-2.svg" />
                <img class="social-button-5" src="../static/img/social-button-1.svg" />
                <img class="social-button-6" src="../static/img/social-button.svg" />
                <div class="img-wrapper"><img class="subtract-2" src="../static/img/subtract-3.svg" /></div>
              </div>
            </div>
          </div>
          <img class="tourism" src="../static/img/tourism2-1.png" />
        </div>
        <img class="tourism-2" src="../static/img/tourism-1.png" />
      </div>
    </div>
  </body>
</html>
