<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/globals_about.css" />
    <link rel="stylesheet" href="../static/styleguide_about.css" />
    <link rel="stylesheet" href="../static/style_about.css" />
  </head>
  <body>
    <div class="about-us">
      <div class="div">
        <div class="overlap">
          <div class="hero">
            <div class="overlap-group">
              <div class="overlap-group-2">
                <img class="image-placeholder" src="../static/img/image-placeholder-3.png" />
                <div class="explore">
                  <button class="button" id="Signin"><div class="click-here">Book Now</button>
                  <div class="room-type">
                    <div class="type">
                      <img class="element-chevron-bottom" src="../static/img/16-chevron-bottom-2.svg" />
                      <div class="text-wrapper">Akagera Tour</div>
                    </div>
                    <div class="text-wrapper-2">Package</div>
                  </div>
                  <div class="date">
                    <div class="date-2">
                      <img class="img" src="../static/img/16-chevron-bottom.svg" />
                      <p class="p">12 - 13 April 2021</p>
                    </div>
                    <div class="text-wrapper-3">Date</div>
                  </div>
                  <div class="guest">
                    <div class="adult">
                      <img class="element-chevron-bottom-2" src="../static/img/16-chevron-bottom.svg" />
                      <div class="text-wrapper-4">2 Adult</div>
                    </div>
                    <div class="text-wrapper-5">Guest</div>
                  </div>
                </div>
              </div>
              <p class="text-wrapper-6">Discover the Land of a Thousand Hills</p>
              <p class="we-are-dedicated-to">We are dedicated to <br />providing the best travel experience.</p>
            </div>
          </div>
          <div class="navbar">
            <button class="click-here-wrapper"><div class="click-here-2">Sign In</div></button>
            <div class="action-search">
              <div class="round-action-search">
                <img class="path" src="../static/img/path.png" /> <img class="icon-color" src="../static/img/icon-color.svg" />
              </div>
            </div>
            <div class="menu">
              <div class="navbar-2">
                <div class="text-wrapper-7"><a href="./index_gallery.html" class="links"> Gallery</a></div>
                <div class="text-wrapper-8"><a href="./index_about.html" class="links">Blog</a></div>
                <div class="text-wrapper-9"><a href="./index_contact.html" class="links"> Contact us</a></div>
                <div class="text-wrapper-10"><a href="./index_package.html" class="links"> Tour package</a></div>
                <div class="text-wrapper-11"><a href="./index_about.html" class="links"> About</a></div>
                <div class="text-wrapper-12"><a href="./index_home.html" class="links"> Home</a></div>
              </div>
              <img class="line" src="../static/img/line-1.svg" />
            </div>
          </div>
          <img class="tourism" src="../static/img/tourism-1.png" />
        </div>
        <div class="div-2">
          <div class="about">
            <img class="image-placeholder-2" src="../static/img/image-placeholder-2.png" />
            <div class="information">
              <p class="text-wrapper-13">
                At Guwahati Wizzy safari, we offer a wide range of tours and activities, including cultural and historical
                tours, wildlife safaris, mountain gorilla trekking, and more. Our experienced and knowledgeable guides
                will ensure that you have a safe and enjoyable experience while exploring the stunning landscapes and
                rich culture of Rwanda.
              </p>
            </div>
          </div>
          <div class="overlap-2">
            <div class="about-subsection">
              <img class="image-placeholder-3" src="../static/img/image-placeholder-1.png" />
              <div class="div-wrapper">
                <p class="text-wrapper-14">
                  Welcome to Guwahati Wizzy Safari, a leading tourism company based in Rwanda. We have been in business
                  for over 5 years and are committed to providing top-quality tours and services to our clients. Our
                  mission is to showcase the beauty and culture of Rwanda to visitors from around the world, and to
                  contribute to the sustainable development of the country through responsible tourism practices.
                </p>
              </div>
            </div>
            <div class="about-us-header">
              <div class="overlap-group-3">
                <img class="line-2" src="../static/img/line-2.svg" />
                <p class="text-wrapper-15">Welcome to Guwahati Wizzy Safari</p>
              </div>
            </div>
          </div>
          <div class="about-2">
            <img class="image-placeholder-3" src="../static/img/image-placeholder.png" />
            <div class="div-wrapper">
              <p class="text-wrapper-14">
                We are proud to have received numerous awards and accolades for our commitment to excellence, including
                the RDD award and the Excellence award. <br /><br /><br />Thank you for choosing Guwahati Wizzy Safari for
                your travel needs in Rwanda. We look forward to welcoming you on one of our tours soon!
              </p>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="footer">
            <div class="overlap-4">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-4">
                  <div class="menu-list">
                    <div class="text-wrapper-18"><a href="./index_contact.html" class="links">Contact Us</a></div>
                    <div class="text-wrapper-19"><a href="./index_about.html" class="links">Blog</a></div>
                    <div class="text-wrapper-20"><a href="./index_about.html" class="links">Our Team</a></div>
                  </div>
                  <div class="menu-list-2">
                    <div class="text-wrapper-21"><a href="./index_itinerary.html" class="links">Events</a></div>
                    <div class="text-wrapper-22"><a href="./index_gallery.html" class="links">Gallery</a></div>
                    <div class="text-wrapper-23"><a href="./index_package.html" class="links">Packages</a></div>
                    <div class="text-wrapper-24"><a href="./index_about.html" class="links">About Us</a></div>
                  </div>
                  <div class="menu-list-3">
                    <div class="text-wrapper-25"><a href="./index_hotel.html" class="links">Destinations</a></div>
                    <div class="text-wrapper-26"><a href="#" class="links">SignIn</a></div>
                    <div class="text-wrapper-27"><a href="./index_home.html" class="links">Home</a></div>
                    <div class="text-wrapper-28"><a href="./index_about.html" class="links">Testimonials</a></div>
                  </div>
                  <p class="text-wrapper-29">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
              <div class="contact-us">
                <div class="overlap-5">
                  <div class="background"></div>
                  <div class="text-wrapper-30">Copyright Assam Tourism 2023</div>
                  <p class="if-you-have-any">
                    <span class="span"
                      >If you have any questions or would like to book a tour with us, please don&#39;t hesitate to
                      contact us.<br /><br />Phone: +250 788 123 456<br />Email:
                    </span>
                    <a href="mailto:info@rwandatourism.com" target="_blank" rel="noopener noreferrer"
                      ><span class="text-wrapper-31">info@rwandatourism.com</span></a
                    >
                    <span class="span"> <br />Address: Guwahati, Assam<br /></span>
                  </p>
                  <div class="text-wrapper-32">Subscribe to our newspaper</div>
                  <p class="text-wrapper-33">If you have any question, Let us help you!</p>
                  <br>
                  <div class="button-2">
                    <div class="group-wrapper"><div class="group"></div></div>
                  </div>
                  <div class="textbox">
                    <div class="overlap-6"><div class="text-wrapper-34">Input your email here</div></div>
                  </div>
                </div>
              </div>
              <div class="group-social-icons-2">
                <img class="social-button-4" src="../static/img/social-button-2.svg" />
                <img class="social-button-5" src="../static/img/social-button-1.svg" />
                <img class="social-button-6" src="../static/img/social-button.svg" />
                <div class="img-wrapper"><img class="subtract-2" src="../static/img/subtract.svg" /></div>
              </div>
            </div>
          </div>
          <img class="tourism-2" src="../static/img/tourism2-1.png" />
        </div>
      </div>
    </div>
  </body>
</html>
