<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/globals_flight.css" />
    <link rel="stylesheet" href="../static/styleguide_flight.css" />
    <link rel="stylesheet" href="../static/style_flight.css" />
  </head>
  <body>
    <div class="flights">
      <div class="div">
        <div class="navbar">
          <button class="button" id="Signin"><div class="click-here">Sign In</button>
          <div class="action-search">
            <div class="round-action-search">
              <img class="path" src="../static/img/path-1.png" /> <img class="icon-color" src="../static/img/icon-color-1.svg" />
            </div>
          </div>
          <div class="menu">
            <div class="navbar-2">
              <div class="text-wrapper"><a href="./index_gallery.html" class="links">Gallery</a></div>
              <div class="text-wrapper-2"><a href="./index_about.html" class="links">Blog</a></div>
              <div class="text-wrapper-3"><a href="./index_contact.html" class="links">Contact us</a></div>
              <div class="text-wrapper-4"><a href="./index_package.html" class="links">Tour package</a></div>
              <div class="text-wrapper-5"><a href="./index_about.html" class="links">About</a></div>
              <div class="text-wrapper-6"><a href="./index_home.html" class="links">Home</a></div>
            </div>
            <img class="line" src="../static/img/line-1.svg" />
          </div>
        </div>
        <div class="overlap">
          <div class="hero">
            <div class="overlap-group">
              <div class="rectangle"></div>
              <div class="text-wrapper-7">Flights</div>
              <div class="text-wrapper-8">Flights</div>
              <div class="text-wrapper-9">Home</div>
              <img class="caret-right-filled" src="../static/img/caretrightfilled.svg" />
              <div class="text-wrapper-10">Tour Package</div>
            </div>
          </div>
          <img class="img" src="../static/img/caretrightfilled.svg" />
        </div>
        <div class="packages">
          <div class="package">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Explore</div></button>
              <div class="text-wrapper-11">Lake Kivu trip</div>
              <img class="image-placeholder" src="../static/img/image-placeholder-6.png" />
              <p class="p">A trip to Lake Kivu can be a truly unique and memorable experience.</p>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Bisoke Hike</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-5.png" />
              <p class="p">
                The Bisoke hike is a popular mountain trek in Rwanda, located in the Volcanoes National Park. It is one
                of the most challenging hikes in the park.
              </p>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Akagera National Park</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-4.png" />
              <p class="p">
                Visitors to Akagera National Park can take part in a range of activities, including game drives, boat
                safaris, bird watching, and nature walks.
              </p>
            </div>
          </div>
        </div>
        <div class="packages-2">
          <div class="package">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Lake Kivu trip</div>
              <img class="image-placeholder" src="../static/img/image-placeholder-6.png" />
              <p class="p">A trip to Lake Kivu can be a truly unique and memorable experience.</p>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Bisoke Hike</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-5.png" />
              <p class="p">
                The Bisoke hike is a popular mountain trek in Rwanda, located in the Volcanoes National Park. It is one
                of the most challenging hikes in the park.
              </p>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Akagera National Park</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-4.png" />
              <p class="p">
                Visitors to Akagera National Park can take part in a range of activities, including game drives, boat
                safaris, bird watching, and nature walks.
              </p>
            </div>
          </div>
        </div>
        <div class="packages-3">
          <div class="package">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Lake Kivu trip</div>
              <img class="image-placeholder" src="../static/img/image-placeholder-6.png" />
              <p class="p">A trip to Lake Kivu can be a truly unique and memorable experience.</p>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Bisoke Hike</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-5.png" />
              <p class="p">
                The Bisoke hike is a popular mountain trek in Rwanda, located in the Volcanoes National Park. It is one
                of the most challenging hikes in the park.
              </p>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Akagera National Park</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-4.png" />
              <p class="p">
                Visitors to Akagera National Park can take part in a range of activities, including game drives, boat
                safaris, bird watching, and nature walks.
              </p>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="group">
            <div class="text-wrapper-12">Choose your Flight</div>
            <p class="text-wrapper-13">Select your Best Flight for your Travel</p>
          </div>
          <div class="back-buttons">
            <div class="back-button">
              <div class="overlap-group-3">
                <img class="vector" src="../static/img/vector-1.svg" />
                <div class="ellipse"></div>
              </div>
            </div>
            <div class="div-wrapper">
              <div class="overlap-group-3">
                <img class="vector-2" src="../static/img/vector.svg" />
                <div class="ellipse"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-social-icons">
          <img class="social-button" src="../static/img/subtract-5.png" />
          <img class="social-button-2" src="../static/img/subtract-5.png" />
          <img class="social-button-3" src="../static/img/subtract-5.png" />
          <div class="subtract-wrapper"><img class="subtract" src="../static/img/subtract-5.png" /></div>
        </div>
        <div class="overlap-3">
          <div class="footer">
            <div class="overlap-4">
              <div class="footer-2">
                <div class="overlap-group-4">
                  <div class="menu-list">
                    <div class="text-wrapper-14"><a href="./index_contact.html" class="links">Contact Us</a></div>
                    <div class="text-wrapper-15"><a href="./index_about.html" class="links">Blog</a></div>
                    <div class="text-wrapper-16"><a href="./index_about.html" class="links">Our Team</a></div>
                  </div>
                  <div class="menu-list-2">
                    <div class="text-wrapper-17"><a href="./index_itinerary.html" class="links">Events</a></div>
                    <div class="text-wrapper-18"><a href="./index_gallery.html" class="links">Gallery</a></div>
                    <div class="text-wrapper-19"><a href="./index_package.html" class="links">Packages</a></div>
                    <div class="text-wrapper-20"><a href="./index_about.html" class="links">About Us</a></div>
                  </div>
                  <div class="menu-list-3">
                    <div class="text-wrapper-21"><a href="./index_hotel.html" class="links">Destinations</a></div>
                    <div class="text-wrapper-22"><a href="#" class="links">SignIn</a></div>
                    <div class="text-wrapper-23"><a href="./index_home.html" class="links">Home</a></div>
                    <div class="text-wrapper-24"><a href="./index_home.html" class="links">Testimonials</a></div>
                  </div>
                  <p class="text-wrapper-25">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>
                </div>
              </div>
              <div class="contact-us">
                <div class="overlap-5">
                  <div class="background"></div>
                  <div class="text-wrapper-26">Copyright Assam Tourism 2023</div>
                  <p class="if-you-have-any">
                    <span class="span"
                      >If you have any questions or would like to book a tour with us, please don&#39;t hesitate to
                      contact us.<br /><br />Phone: +250 788 123 456<br />Email:
                    </span>
                    <a href="mailto:info@rwandatourism.com" target="_blank" rel="noopener noreferrer"
                      ><span class="text-wrapper-27">info@rwandatourism.com</span></a
                    >
                    <span class="span"> <br />Address: Guwahati, Assam<br /></span>
                  </p>
                  <div class="text-wrapper-28">Subscribe to our newspaper</div>
                  <p class="text-wrapper-29">If you have any question, Let us help you!</p>
                  <div class="button-2">
                    <div class="group-wrapper"><div class="group-2"></div></div>
                  </div>
                  <div class="textbox">
                    <div class="overlap-6"><div class="text-wrapper-30">Input your email here</div></div>
                  </div>
                </div>
              </div>
              <div class="group-social-icons-2">
                <img class="social-button-4" src="../static/img/social-button-5.svg" />
                <img class="social-button-5" src="../static/img/social-button-4.svg" />
                <img class="social-button-6" src="../static/img/social-button-3.svg" />
                <div class="img-wrapper"><img class="subtract-2" src="../static/img/subtract-4.svg" /></div>
              </div>
            </div>
          </div>
          <img class="tourism" src="../static/img/tourism2-1.png" />
        </div>
        <img class="tourism-2" src="../static/img/tourism-1.png" />
        <div class="packages-4">
          <div class="package">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Lake Kivu trip</div>
              <img class="image-placeholder" src="../static/img/image-placeholder-6.png" />
              <p class="p">A trip to Lake Kivu can be a truly unique and memorable experience.</p>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Bisoke Hike</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-5.png" />
              <p class="p">
                The Bisoke hike is a popular mountain trek in Rwanda, located in the Volcanoes National Park. It is one
                of the most challenging hikes in the park.
              </p>
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <button class="click-here-wrapper"><div class="click-here-2">Learn More</div></button>
              <div class="text-wrapper-11">Akagera National Park</div>
              <img class="image-placeholder-2" src="../static/img/image-placeholder-4.png" />
              <p class="p">
                Visitors to Akagera National Park can take part in a range of activities, including game drives, boat
                safaris, bird watching, and nature walks.
              </p>
            </div>
          </div>
        </div>
        <div class="group-3">
          <div class="text-wrapper-33">Popular Flight</div>
          <p class="select-our-best">Select Our Best Popular <br />Flights</p>
        </div>
        <div class="destinations">
          <div class="kigali">
            <div class="div-2">
              <p class="text-wrapper-34">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat elit sed pretium, egestas sed sit.
              </p>
              <div class="text-wrapper-35">Kigali</div>
            </div>
            <img class="image-placeholder-3" src="../static/img/image-placeholder-3.png" />
          </div>
          <div class="destinations-2">
            <div class="overlap-group-5">
              <div class="div-2">
                <p class="text-wrapper-34">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat elit sed pretium, egestas sed sit.
                </p>
                <div class="text-wrapper-35">Huye</div>
              </div>
              <img class="image-placeholder-3" src="../static/img/image-placeholder-2.png" />
            </div>
            <div class="overlap-7">
              <div class="div-2">
                <p class="text-wrapper-34">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat elit sed pretium, egestas sed sit.
                </p>
                <div class="text-wrapper-35">Rubavu</div>
              </div>
              <img class="image-placeholder-3" src="../static/img/image-placeholder-1.png" />
            </div>
            <div class="musanze">
              <div class="div-2">
                <p class="text-wrapper-34">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat elit sed pretium, egestas sed sit.
                </p>
                <div class="text-wrapper-35">Musanze</div>
              </div>
              <img class="image-placeholder-4" src="../static/img/image-placeholder.png" />
            </div>
          </div>
          <div class="button-3">
            <div class="overlap-8"><div class="group-4"></div></div>
          </div>
          <div class="button-4">
            <div class="overlap-9"><div class="group-5"></div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
